body {
  background-color: #1e1e1e;
}

.game-area {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid #ff7f50;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
}

@media only screen and (max-width: 800px) {
  .game-area {
      position: relative;
      width: 350px;
      height: 300px;
  }
}